/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #005c17;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header .branding img {
    width: 50px;
    vertical-align: middle;
}

header .branding h1 {
    display: inline;
    font-size: 1.5em;
    margin: 0;
}

header .contact-info {
    margin-top: 0.5em;
}

.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: #01380e;
    color: white;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

nav {
    background: #01380e;
    color: #fff;
    overflow: hidden;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    padding: 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2em;
}

footer {
    background: #005c17;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

footer .social-icons a {
    color: #fff;
    margin: 0 0.5em;
    text-decoration: none;
}

.youtube {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px; 
}

.youtube div {
    flex: 1;
    max-width: 560px;
}

.read-more div{
    display: flex;
    justify-content: center;
}

.social {
    display: flex;
    justify-content: center;
}

.social form {
    flex: 1;
    margin-right: 30px;
}

.social-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.social-icons div {
    margin: 10px 0;
    position: relative;
}

.social-icons img {
    width: 80px;
    height: auto;
}

.social-icons a:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 0.75em;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.2s;
}

.social-icons a::after {
    opacity: 0;
    transition: opacity 0.2s;
}


.accordion {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.accordion-item {
    border-bottom: 1px solid #ddd;
}

.accordion-item:last-child {
    border-bottom: none;
}

.accordion-button {
    background-color: #005c17;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.5s;
}

.accordion-button:hover, .accordion-button.active {
    background-color: #01380e;
}

.accordion-content {
    padding: 2px;
    overflow: hidden;
    background-color: white;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.accordion-content.show {
    max-height: 1000px; 
}

h2 {
    text-align: center;
}

.calendar {
    display: flex;
    justify-content: center;
}

.dig-deeper-disc {
    text-align: center;
}

.donation {
    display: block;
    justify-items: center;
}